---
import CategoryCardHome from "./CategoryCardHome.astro";
import { categories, featuredLinks } from "../../data/home.ts";
---

<section class="py-10 bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2
            class="text-3xl font-black text-slate-900 uppercase tracking-tighter mb-12"
        >
            Categorias
        </h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
            {
                categories.map((category) => (
                    <CategoryCardHome
                        name={category.name}
                        image={category.image}
                        path={category.path}
                    />
                ))
            }
            {
                featuredLinks.map((link) => (
                    <CategoryCardHome
                        name={link.name}
                        image={link.image}
                        path={link.path}
                        className={link.className}
                        imageClass={link.imageClass}
                    />
                ))
            }
        </div>
    </div>
</section>
